{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h3 class="text-center mt-3">Orders <i class="fas fa-clipboard-list"></i></h3>

<div class="box-element">
    {% for order in orders %}
    <div class="card">
        <div class="card-header">Order ID <strong>{{ order.id }}</strong></div>
        <div class="card-body">
            Order Complete?  <strong>{{ order.complete }}</strong>
            <br>
            Transaction ID:  <strong>{{ order.transaction_id }}</strong></div>

    </div>
    {% endfor %}
</div>
{% endblock %}