<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- main.css (custom CSS) -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
    crossorigin="anonymous" type="text/css">

  <!-- Check if user is logged in -->
  <!-- Create csrf token -->
  <script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken')
  </script>
</head>

<body>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
      <a class="navbar-brand" href="{% url 'store' %}">
        <img class="nav-logo" src="{% static 'images/nav-logo.png' %}" alt="ShopBest site logo">
      </a>
      <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars" id="navbar-open-icon"></i>
        <i class="fas fa-times hidden" id="navbar-close-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <a href="#" class="btn btn-secondary ml-auto">Login <i class="far fa-user"></i></a>

          <a href="{% url 'cart' %}">
            <i class="fas fa-shopping-cart ml-auto"></i>
          </a>
          <p id="cart-total">
            {% if cartItems > 0 %}
            {{cartItems}}
            {% else %}
            0
            {% endif %}</p>

        </div>
      </div>
    </nav>


    <!--- Toasts (flash messages) -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
      {% block content %}

      {% endblock content %}
    </div>
  </div>
  
  <!-- Footer -->
  <!-- Modified code snippet from https://startbootstrap.com/snippets/sticky-footer-flexbox -->
  <div class="footer bg-dark text-white align-middle">
    <span class="align-middle">Footer content</span>
  </div>

  <!-- JavaScript -->
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <!-- Main.js (custom JavaScript handling) -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Load toasts (flash messages) -->
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>

</body>

</html>