{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Following code renders a card for each product in the database -->
    {% for product in products %}
    <div class="col-lg-4">
        <div class="box-element product">
            <img class="thumbnail" src="{{product.imageURL}}">
            <h6 class="text-center"><strong>{{product.name}}</strong></h6>
            <hr>
            <div class="clearfix">
                <h4 class="product-price"><strong>
                        € {{product.price|floatformat:2}}
                    </strong></h4>
                <button class="btn btn-outline-success add-to-cart">Add to Cart <i class="fas fa-cart-plus"></i></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}